<div class="card card-subscription">
  <h1 class="card_title subscription_title">Monthly Subscription</h1>
  <span class="card_price">$29</span>
  <span class="card_billing_cycle">per month</span>
  <p class="card_body subscription_body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
    voluptatem ex voluptas ipsa velit adipisci deleniti, temporibus, aut
    ipsum laudantium nemo nihil pariatur accusamus, architecto
  </p>
  <button class="btn btn-secondary">Sign Up</button>
</div>